@import url('menu.css');
@import url('form.css');
@import url('faqs.css');
/* @import url('form-multistep-calendly.css'); */

/* Text selection highlight */
::selection {
    background-color: var(--color-scheme-1--text-selection);
    color: white;
}

::-moz-selection {
    background-color: var(--color-scheme-1--text-selection);
    color: white;
}

/*
*   RICH TEXT HEADINGS
*/

.rich-text-legal h1 {
    visibility: hidden;
}

.rich-text-legal h2,
.rich-text-legal h3,
.rich-text-legal h4,
.rich-text-legal h5,
.rich-text-legal h6 {
    font-family: var(--_typography---font-styles--heading);
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 1.25rem;
}

.rich-text-legal h2 {
    letter-spacing: 0;
    font-size: 3rem;
    line-height: 1.1;
}

.rich-text-legal h3 {
    letter-spacing: 0;
    font-size: 2rem;
    line-height: 1.1;
}

.rich-text-legal h4 {
    font-size: 2rem;
    line-height: 1.3;
}

.rich-text-legal h5 {
    font-size: 1.5rem;
    line-height: 1.4;
}

@media screen and (max-width: 991px) {
    .rich-text-legal h2 {
        font-size: 2.75rem;
    }

    .rich-text-legal h3 {
        font-size: 2.25rem;
    }

    .rich-text-legal h4 {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 767px) {

    .rich-text-legal h2,
    .rich-text-legal h3,
    .rich-text-legal h4,
    .rich-text-legal h5,
    .rich-text-legal h6 {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }

    .rich-text-legal h2 {
        font-size: 2rem;
    }

    .rich-text-legal h3 {
        font-size: 1.5rem;
    }

    .rich-text-legal h4 {
        font-size: 1.5rem;
        line-height: 1.4;
    }

    .rich-text-legal h5 {
        font-size: 1.25rem;
    }
}


.header5b_bg_circles {
    inset: auto auto -40rem;
    opacity: .4;
}

.h5b_c1 {
    background: radial-gradient(50% 52.25% at 50% 48.99%, #93A7E2 0%, #7E9FFF 83.37%, #C5D4FF 100%);
    box-shadow: 0 36.06px 17.515px -25.757px rgba(255, 255, 255, 0.90) inset;
}

.h5b_c2 {
    background: radial-gradient(49.85% 56.23% at 50% 49.82%, rgba(227, 221, 214, 0.00) 0%, rgba(206, 216, 244, 0.51) 16.35%, #7E9FFF 62.24%, #7E9FFF 100%);
    box-shadow: 0 108.18px 87.059px -66.968px #FFF inset;
    filter: blur(2px);
}

.h5b_c3 {
    background: radial-gradient(52.93% 52.93% at 50% 50%, #D7E1FF 60%, var(--Blue, #7E9FFF) 100%);
    box-shadow: 0 52.58px 61.781px -18.403px #FFF inset;
    filter: blur(8px);
}
